*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
header{
    
    padding: 0px 50px;
    width: 100%;
    height: 80px;
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
body{
    
    background-image: url(../asset/image/main-bg-dark.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1a182b;
    
}
.x{
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 74, 74);
    width: 20px;
    height: 20px;
    display: block;
    margin-top: -40px;
    margin-left: 27px;
    border-radius: 50%;
    z-index: 2;
    font-size: 13px;
    color: rgb(255, 255, 255);
}
.OwO{
    width: 100%;
    height: 700px;
    background-image: url(../asset/image/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}

li{
    list-style-type: none;
    display: flex;
    font-weight: bold;
    font-size: 20px;
}
.menu li a{
    margin-right: 40px;
}
.menu{
    
    display: flex;
    /* text-align: center;
    justify-content: center;
    flex-direction: row; */
    /* gap: 50px; */
}
.navmenu{
    display: flex;
    text-align: center;
    justify-self: center;
}
.icon{
    font-size: 80px;
}
#cart{
    text-align: start ;
    margin-top: -27px;
    z-index: 1;
    font-size: 34px;
    font-weight: bold;
    display: none;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}
.search-bar{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid turquoise;
}
.search i{
    color: rgb(255, 255, 255);
    position: relative;
    right: 35px;
    top: 3px;
    background-color: blue;
    padding: 5px;
    border-radius: 50%;
}
.search i:hover{
    cursor: pointer;
}
.search-bar[type="text"]{
    padding: 10px;
}
.user{
    display: block;
}
.login{
    /* display: none; */
    display: block;
}
.register{
    /* display: none; */
    display: block;
}

.nt ul li p{
    color: white;
}
.sub-theme-banner{
    width: 430px;
    font-size: 24px;
}
.main-theme-banner{
    color: white;
    font-size: 50px;
}

.setting{
    padding-top: 250px;
    margin-left: 150px;
}
.learn{
    width: 130px;
    height: 60px;
    font-size: 12px;
    font-weight: bold;
}
.shop{
    width: 130px;
    height: 60px;
    font-size: 12px;
    font-weight: bold;
}
.learn:hover{
    cursor: pointer;
    background-color: #000e17;
    color: white;
}
.shop:hover{
    cursor: pointer;
    background-color: #000e17;
    color: white;
}

/* Main*/
.main-main{
    margin-top: 150px;
    width: 100%;
    height: 1400px;
    padding: 0px 100px;
}
.headphone{
    display: flex;
    gap: 30px;
    padding-bottom: 150px;
}
.headphone img{
    object-fit: cover;
    width: 300px;
    height: 310px;
    
}
.main-main a{
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    
}
#head{
    margin-bottom: 40px;
}
#mou{
    margin-bottom: 40px;
}
.item{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 20px;
}
.item img{
    object-fit: cover;
}
.mouse{
    
    display: flex;
    gap :30px;
    color: white;
}
.mouse img{
    
    width: 330px;
    height: 380px;
}
.main-main p{
    
    font-weight: bold;
    font-size: 24px;
    
}
.item:hover{
    border: 1px solid red;
}




/*Footer*/
.footer {
    width: 100%;
    height: 100px;
    background: rgb(72, 98, 109);
    padding: 0px 30px; 
}


.footer .footer-main{
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-main span{
    color: palevioletred;
}

.footer-icon{
    font-size: 40px;
    display: flex;
    gap: 20px;
}
